/*.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 0.75rem;
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 0.75rem;
}
*/
.gallery-grid {
  column-count: 4;
  column-gap: 1rem;
}

.gallery-item {
  break-inside: avoid;
  margin-bottom: 1rem;
}

#lightbox button {
    color: white;
    opacity: 0.7;
    transition: opacity 0.2s;
}

#lightbox button:hover {
    opacity: 1;
}

.gallery-item img {
    cursor: pointer;
    transition: transform 0.2s ease;
}

.gallery-item img:hover {
    transform: scale(1.03);
}